
#imagephoto
{
	border: 3px;
	border-style: solid;
}

#imagecontroller
{
    position: absolute;
    left:370px;
    top:250px;
}

/*
#image3
{
    position: absolute;
    left:370px;
    top:200px;
}*/

#Personal
{
	position: absolute;
	left:350px;
	top:20px;
}

#EduQ
{
	position: absolute;
	left: 670px;
	top: 20px;
}

#Engineering
{
	position: absolute;
	left: 670px;
	top: 60px;
}

#Business
{
	position: absolute;
	left: 670px;
	top: 230px;
}

/*Work Exoerience in Austalia*/
#WorkAus
{

}

/*Language Skills*/
#Lang
{
	position: absolute;
	left:680px;
	top:490px;  
}

/*IT Skills*/
#IT
{
	position: absolute;
	left:680px;
	top:650px; /*750*/
}

/*Experience*/
#iOSApp
{
	position: absolute;
	left: 700px;
	top: 1250px;
    padding: 10px;
	border: 3px dotted;
    border-color: red;
}

/*Projects*/
#iOSPro
{
	/*position: absolute;
	left: 50px;
	down: 1200px;*/
	position:relative;
	right:auto;
    padding:7px;
	border: 3px dotted;
    border-color: red;
}


/*Work in Thailand*/
#Laguna
{
	position:absolute;
	left: 700px;
	top: 1699px; /*1487*/
}

#Summer
{
	position:absolute;
	left: 700px;
	top: 1924px;
}


/*Reference*/
#refone
{
	position: absolute;
}

#reftwo
{
	position: absolute;
	left: 300px;
}

#refthree
{
	position: absolute;
	left: 550px;
}


/*all the heading are here*/
#EngHead, #BusHead, #EduQ, #WorkAustra, #WorkThai, #LangSkill, #ItSkill, #Projects, #Reff
{
    color:#4682B4;
}



